*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:cadetblue;
}

@keyframes fantasma {
    0% { 
        opacity: 0%;
    }
    25% { 
        transform: translateY(-20px);
        opacity: 100%;
    }
    75%{
        transform: rotate();
    }
    100% { 
        opacity: 0%;
    }
}

.fantasma {
    animation: fantasma 3s infinite;
}
